@import 'helpers/fonts';
@import 'helpers/utilites/rem';

@import 'helpers/utilites/media-queries';
@import 'helpers/utilites/mixins';
@import '~modules/rfs/scss/rfs';
@import 'helpers/reset';
@import 'helpers/utilites/variables';
@import 'helpers/base';
@import 'components/header';

.header{
	padding-bottom: 84px;
	background-color: $white;
}
.header-top{
	padding-top: 18px;
	padding-bottom: 55px;
	&-mail{
		font-family: $g_500;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: .4px;
	}
	&-time{
		margin-left: 108px;
		span{
			display: inline-block;
			margin-left: 5px;
			color: $accent_color;
		}
	}
	&-nav{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		margin-left: 73px;
		margin-top: -3px;
		ul{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			text-transform: uppercase;
			font-size: 12px;
			font-family: $g_600;
			font-weight: 500;
		}

		li{
			margin-right: 29px;
		}
		a{
			@include transition();
			&:hover,
			&:focus{
				color: $accent_color;
			}
		}
	}

	&-contacts{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-end;
		align-items: flex-end;
		.phone{
			font-family: $g_700;
			font-size: 17px;
			letter-spacing: .4px;
		}
		.recall{
			font-size: 13px;
			color: $accent_color;
			text-decoration: underline;
			letter-spacing: .1px;
			margin-top: -1px;
			@include transition();
			&:hover,
			&:focus{
				text-decoration: none;
			}
		}
	}
}

.header-bottom{
	&-catalog{
		margin-left: 56px;
		margin-top: -3px;
		ul{
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			font-size: 16px;
		}

		li{
			margin-right: 45px;
			&:first-child{
				a{
					&::before{
						background-image: url(../img/catalog-item.png);
					}
				}
			}

			&:last-child{
				margin-right: 0;
				a{
					&::before{
						background-image: url(../img/catalog-item1.png);
					}
				}
			}
		}

		a{
			position: relative;
			padding-left: 34px;
			&::before{
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 26px;
				height: 28px;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
}

.header-logo{
	font-family: $g_900;
	font-size: 24px;
	letter-spacing: .7px;
	span{
		font-size: 18px;
		color: $accent_color;
	}
}

.header-catalog-btn{
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	background-color: $white;
	font-family: $g_600;
	font-weight: 600;
	margin-left: 89px;
	font-size: 16px;
	padding: 22.5px 20px;
	border-radius: 9px;
	box-shadow: 0 4px 10px #f4f4f4;
	letter-spacing: .35px;
	.burger{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-right: 16px;

		.line{
			margin-bottom: 5px;
			width: 25px;
			height: 2px;
			background-color: $black;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

.header-controlls{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
	padding-right: 17px;
	margin-top: -3px;
}

#search{
	input[type="text"] {
		display: none;
	}

	.search-btn{
		display: inline-block;
		margin-top: 7px;
		width: 28px;
		height: 28px;
		background: url(../img/search-icon.png)no-repeat center;
	}
}

#whishlist-total{
	display: inline-block;
	margin-left: 25px;
	margin-top: 2px;
	width: 33px;
	height: 28px;
	background: url(../img/whish-icon.png)no-repeat center;
}

#cart {
	margin-left: 31px;
	button{
		display: inline-block;
		width: 34px;
		height: 38px;
		background: url(../img/cart-icon.png)no-repeat center;
	}
}


.main-slider-section{	
	max-width: 1438px;
	margin: -50px auto auto;
	width: 100%;
	background-color: #d2e9e3;
}

.main-slider{
	&-item{
		padding-bottom: 74px;
	}
	z-index: 1;
	.title{
		margin-bottom: 16px;
		font-size: 72px;
		font-family: $bebas_r;
		letter-spacing: 2px;
	}
	.subtitle{
		font-family: $g_300;
		font-size: 24px;
		letter-spacing: .7px;
		span{
			font-size: 48px;
		}
	}
	.title-section{
		padding-top: 89px;
		margin-bottom: 39px;
		
		padding-left: 56px;
	}
	
	.btn-section{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		.price{
		    margin-top: -25px;
		    margin-left: 113px;
		    font-size: 48px;
		    font-family: $euro;
		    color: #79c0a8;
		    transform: rotate(-6deg);
			span{
				font-size: 16px;
			}
		}
	}

	.btn{
		position: relative;
		&::before{
			position: absolute;
			content: "";
			width: 117px;
			top: 0;
			bottom: 0;
			margin: auto;
			left: -117px;
			background: $btn-success;
			@include transition();
		}
		&:hover, &:focus{
			&::before{
				background-color: darken($btn-success, 10%);
			}
		}
	}

	.pic{
		margin-left: 82px;
	}

	.promo{
		margin-top: -32px;
		font-size: 14px;
		font-family: $g_400;
		color: #a4c3b7;
		letter-spacing: .4px;
	}

	.slick-prev,
	.slick-next{
		margin-top: -10px;
		width: 45px;
		height: 45px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
		&::before{
			display: none;
		}
	}

	.slick-prev{
		left: 32px;
	}

	.slick-next{
		right: 32px;
	}
}

.cart-section{
	.title{
		margin-right: 29px;
		font-size: 30px;
		font-family: $g_600;
	}

	&.week-offer{
		padding-top: 47px;
	}
	.title-section{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 33px;
	}
	.to-catalog{
		margin-top: 7px;
		font-family: $g_700;
		font-size: 16px;
		color: $btn-success;
		@include transition();
		&:hover,
		&:focus{
			color: darken($btn-success, 10%);
		}
	}
}


.product-thumb{
	position: relative;
	background-color: $white;
	border-radius: 5px;
	padding-top: 19px;
	padding-bottom: 39px;
	overflow: hidden;
	.top{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		padding: 0 13px 0 18px;
		button{
			margin-left: auto;
			img{
				max-width: 63%;
			}
		}
	}
	.image{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: flex-end;
		align-items: center;
		margin-bottom: 9px;
		max-height: 255px;
		min-height: 255px;
		height: 100%;
	}
	.caption{
		padding: 0 25px;
		h4{
			margin-bottom: 12px;
			min-height: 40px;
		}
	}
	.price{
		position: relative;
		padding-top: 22px;
		font-size: 24px;
		font-family: $g_700;
		sub{
			font-size: 15px;
			font-family: $g_600;
			bottom: -1px;
			left: -2px;
			
		}
	}
	.price-old {
		position: absolute;
		top: 0;
		left: 0;
		font-family: $g_600;
		text-decoration: line-through;
		font-size: 16px;
		color: #e7e7e7;
	}
	.to-basket{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;	
		justify-content: center;
		width: 113px;
		height: 113px;
		border-radius: 50%;
		background-color: #d2e9e3;
		position: absolute;
		right: -14px;
		bottom: -28px;
		@include transition();
		&:hover,
		&:focus{
			background-color: darken(#d2e9e3, 3%);
		}
		img{
			margin-top: -19px;
			margin-left: -2px;
		}
	}
}