main.content#content
	nav(aria-label="breadcrumb")
		ol.breadcrumb
			li.breadcrumb-item 
				a(href="#") Главная
			li.breadcrumb-item
				a(href="#") Товары для сада
			li.breadcrumb-item.active(aria-current="page") Садовая техника
	h1 Садовая техника
	.sort-content
		label
			span сортировать по
			select#input-sort
				option по популярности
				option по возрастанию
				option по убыванию
	.row
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-1.jpg")
				.caption
					h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
					p.price 
						!= "17 990 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-2.jpg")
				.caption
					h4 Триммер Daewoo DATR 450E 
					p.price 
						!= "2 190 <sub>руб.</sub>"
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-3.jpg")
				.caption
					h4 Набор Leifheit profi xl ведро для отжима на роликах и швабра
					p.price 
						!= "17 990 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-1.jpg")
				.caption
					h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
					p.price 
						!= "12 390 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-1.jpg")
				.caption
					h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
					p.price 
						!= "12 390 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-1.jpg")
				.caption
					h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
					p.price 
						!= "12 390 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-1.jpg")
				.caption
					h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
					p.price 
						!= "12 390 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-1.jpg")
				.caption
					h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
					p.price 
						!= "12 390 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
		.product-layout.col-md-4.col-sm-6.col-xs-12
			.product-thumb
				.top
					span.price-tax -10%
					button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
						img(src="img/whish-icon.png" alt="")
				.image
					a(href="#")
						img(src="img/cart-1.jpg")
				.caption
					h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
					p.price 
						!= "12 390 <sub>руб.</sub>"
						span.price-old 
							!='17 990 руб.'
				button(type="button" onclick="add.cart('43');" class="to-basket")
					img(src="img/basket-icon.png" alt="")
	.pagination-section
		ul.pagination
			li.page-item
				a(href="#").page-link 1
			li.page-item
				a(href="#").page-link 2
			li.page-item
				a(href="#").page-link 3
			li.page-item.active
				span.page-link 4
			li.page-item
				a(href="#").page-link 5

	.seo-text
		p Вы можете купить садовую технику по лучшей цене. предложений в 8 проверенных интернет-магазинах Санкт-Петербурга. Подберите оптимальную для вас модель по цене, техническим характеристикам и стоимости доставки. Информацию о способах оплаты и возможность самовывоза, пожалуйста уточняйте в выбранном магазине. Вы можете купить садовую технику по лучшей цене. 194 предложений в 8 проверенных интернет-магазинах Санкт-Петербурга. Подберите оптимальную для вас модель по цене, техническим характеристикам и стоимости доставки. Информацию о способах оплаты и возможность самовывоза, пожалуйста уточняйте в выбранном магазине.
