-const footerList = ['О компании', 'Вакансии', 'Контакты', 'Сотрудничество', 'Оптовым покупателям', 'Помощь', 'Как оформить заказ', 'Способы оплаты', 'Покупка в кредит', 'Доставка', 'Возврат', 'FAQ'];
-const footerSocials = ['fab fa-instagram', 'fab fa-vk', 'fab fa-telegram', 'fab fa-youtube'];

footer.footer
	.container
		.row
			.col-lg-3
				.logo-info
					a(href="#").header-logo
						!='DOMOBEHOK'
						span .ру
					.copyright © 2020 Все права защищены. Интернет-магазин 
						a(href="#") домовенок
			.col-lg-4 
				nav.footer-nav
					ul
						each item in footerList
							li
								a(href="#")= item

			.col-lg-5 
				.d-flex.align-items-end.justify-content-between
					nav.footer-socials
						ul
							each item in footerSocials
								li
									a(href="#")
										i(aria-hidden="true" class=item)
					.footer-contacts
						ul.phones
							li
								a(href="tel:+84955553333") 8 495 555 33 33
							li
								a(href="tel:+84955553333") 8 495 555 33 33
						a(href="#" class="callback") обратный звонок
						.worktime Каждый день с 10:00 до 22:00
						a(href="#" class="politic") Политика конфиденциальности

