section.main-slider-section
	.main-slider
		div
			.main-slider-item 
				.container
					.row
						.col-md-6
							.title-section
								h4.title Люстры eglo
								h5.subtitle 
									!= 'скидка <span>25%</span> до конца мая'
							.btn-section
								a(href="#").btn.btn-success подробнее
								.price 12500 
									span руб.
						.col-md-6
							.pic
								img(src="img/lighter.png")
					.text-center
						.promo промокод внутри страницы
		div
			.main-slider-item
				.container
					.row
						.col-md-6
							.title-section
								h4.title Люстры eglo
								h5.subtitle 
									!= 'скидка <span>25%</span> до конца мая'
							.btn-section
								a(href="#").btn.btn-success подробнее
								.price 12500 
									span руб.
						.col-md-6
							.pic
								img(src="img/lighter.png")
					.text-center
						.promo промокод вн




