section.news.cart-section
	.container
		.title-section
			.title-section
				h3.h2 Новости и акции
				a(href="#").to-catalog перейти в новости
		.row
			.col-md-4
				a(href="#" class="news-item")
					span.pic
						img(src="img/news-pic.jpg" alt="")
					span.desc Скидка 20% на фонтаны для сада!
			.col-md-4
				a(href="#" class="news-item")
					span.pic
						img(src="img/news-pic2.jpg" alt="")
					span.desc Пылесос Karcher в подарок!
			.col-md-4
				a(href="#" class="news-item")
					span.pic
						img(src="img/news-pic3.jpg" alt="")
					span.desc До 50% на бытовую технику!
