section.popular-categories
	.container
		.title-section
			h3.h2 Популярные категории
		.p-categories-slider
			div
				a(href="#").item.item-first
					span.pic
						img(src="img/popular-cat-pic1.png" alt="")
					span.desc
						.cat Кухня
						.name Кухонные принадлежности
			div
				a(href="#").item.item-second
					span.pic
						img(src="img/popular-cat-pic2.png" alt="") 
					span.desc
						.cat Товары для сада
						.name Садовый инвентарь и удобрения
			div
				a(href="#").item.item-first
					span.pic
						img(src="img/popular-cat-pic1.png" alt="")
					span.desc
						.cat Кухня
						.name Кухонные принадлежности

