section.subscribe
	.container
		.row
			.col-md-6
				.text-center.title-section
					h4.h2 Подпишитесь на рассылку 
					p Узнавайте первыми о новинках, акциях и распродажах
			.col-md-6
				form.subscribe-form
					input(type="text" name="email" placeholder="введите ваш e-mail")
					button(type="submit") подписаться