section.cart-section.week-offer
	.container
		.title-section
			h2.h2 Предложения недели
			a(href="#").to-catalog перейти в каталог
		.row
			.product-layout.col-md-3.col-sm-6.col-xs-12
				.product-thumb
					.top
						span.price-tax -10%
						button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
							img(src="img/whish-icon.png" alt="")
					.image
						a(href="#")
							img(src="img/cart-1.jpg")
					.caption
						h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
						p.price 
							!= "17 990 <sub>руб.</sub>"
							span.price-old 
								!='17 990 руб.'
					button(type="button" onclick="add.cart('43');" class="to-basket")
						img(src="img/basket-icon.png" alt="")
			.product-layout.col-md-3.col-sm-6.col-xs-12
				.product-thumb
					.top
						button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
							img(src="img/whish-icon.png" alt="")
					.image
						a(href="#")
							img(src="img/cart-2.jpg")
					.caption
						h4 Триммер Daewoo DATR 450E 
						p.price 
							!= "2 190 <sub>руб.</sub>"
					button(type="button" onclick="add.cart('43');" class="to-basket")
						img(src="img/basket-icon.png" alt="")
			.product-layout.col-md-3.col-sm-6.col-xs-12
				.product-thumb
					.top
						span.price-tax -10%
						button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
							img(src="img/whish-icon.png" alt="")
					.image
						a(href="#")
							img(src="img/cart-3.jpg")
					.caption
						h4 Набор Leifheit profi xl ведро для отжима на роликах и швабра
						p.price 
							!= "17 990 <sub>руб.</sub>"
							span.price-old 
								!='17 990 руб.'
					button(type="button" onclick="add.cart('43');" class="to-basket")
						img(src="img/basket-icon.png" alt="")
			.product-layout.col-md-3.col-sm-6.col-xs-12
				.product-thumb
					.top
						span.price-tax -10%
						button(type="button" data-toggle="tooltip" title="" data-original-title="В закладки")
							img(src="img/whish-icon.png" alt="")
					.image
						a(href="#")
							img(src="img/cart-1.jpg")
					.caption
						h4 Газонокосилка бензиновая Ngp t8 самоходная 3300 Вт
						p.price 
							!= "12 390 <sub>руб.</sub>"
							span.price-old 
								!='17 990 руб.'
					button(type="button" onclick="add.cart('43');" class="to-basket")
						img(src="img/basket-icon.png" alt="")


