section.week-stuff
	.container
		.row
			.col-md-6
				.title-section
					span.desc товар недели
					h3.title настольный светильник eglo
					a(href="#" class="btn btn-white") подробнее
			.col-md-6
				.pic
					img(src="img/lighter-pic.png" alt="")
		