.popular-categories{
	padding-top: 43px;
	padding-bottom: 61px;
	background-color: $white;
	.title-section{
		margin-bottom: 34px;
	}
	.pic{
		padding-right: 8px;
		text-align: right;
		max-height: 259px;
		min-height: 259px;
	}

	img{
		margin-left: auto;
		margin-right: 0;
	}
	.item{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		padding-top: 41px;
		padding-bottom: 35px;
		max-width: 572px;
		margin: 0 20px;
	}
	.item-first{
		background-color: #daf3ed;
		.cat{
			color: #4cbe9a;
		}
		.pic{
			padding-right: 8px;
		}
	}
	.item-second{
		background-color: #e2f0df;
		.cat{
			color: #77be6e;
		}
		.pic{
			padding-right: 20px;
		}
	}

	.desc{
		margin-top: -27px;
		padding-left: 47px;
	}

	.cat{
		margin-bottom: 6px;
		font-size: 18px;
		font-family: $g_600;
	}

	.name{
		font-size: 24px;
		font-family: $g_600;
	}
	.slick-prev,
	.slick-next{
		margin-top: -7px;
		width: 53px;
		height: 53px;
		border-radius: 5px;
		background-color: $white;
		box-shadow: 0 0 20px #e0e0e0; 
		z-index: 1;
		&::before{
			display: none;
		}
	}

	.slick-prev{
		left: -118px;
	}

	.slick-next{
		right: -104px;
	}
}

.p-categories-slider{
	.slick-list{
		margin: 0 -20px;
	}
}