.tabs-section{
	border-radius: 10px;
	background-color: $white;
}

#product-tabs {
	padding: 0;
	padding-top: 25px;
	min-height: 360px;
	padding-bottom: 30px;
	.ui-tabs-nav{
		margin-bottom: 33px;
		padding: 0;
		border: none;
		background: none;
		padding-left: 48px;
	}
	.ui-tabs-tab{
		margin-right: 25px;
		width: auto;
		height: auto;
		border-radius: 0;
		border: none;
		background-color: transparent;
		font-size: 20px;
		font-family: $g_600;
		&.ui-tabs-active{
			
			a{
				color: $accent_color;
			}
		}
	}
	.tab-item{
		margin-left: 78px;
		max-width: 857px;
		font-family: $g_400;
		font-size: 15px;
		line-height: 1.56;
	}
}