
.single-cart{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	margin-top: 120px;
	margin-bottom: 12px;
	background-color: $white;
	padding-bottom: 75px;
	border-radius: 10px;

	.product-code {
		display: inline-block;
		margin-bottom: 23px;
		font-size: 12px;
		font-family: $g_500;
	}

	h1 {
		margin-bottom: 45px;
		max-width: 465px;
		font-size: 28px;
		font-family: $g_600;
		line-height: 1.2;
	}
	.cart-slider {
		max-width: 572px;
		width: 100%;
		padding-top: 56px;
	}

	.cart-descr {
		padding-top: 38px;
		flex: 1 0;
	}
	.list-title {
		display: inline-block;
		margin-bottom: 26px;
		font-size: 16px;
		font-family: $g_700;
		letter-spacing: .1px;
	}
	.product-list {
		margin-bottom: 27px;
		font-size: 16px;
		font-family: $g_600;

		li {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			margin-bottom: 7px;
		}

		.name {
			position: relative;
			max-width: 226px;
			width: 100%;
			z-index: 1;
			
			&::before{
				content: "";
				position: absolute;
				bottom: 5px;
				// height: 1px;
				width: 100%;
				border: 1px dashed #dcdcdc;
				z-index: -1;
			}

			span {
				display: inline-block;
				padding-right: 5px;
				background-color: $white;
				z-index: 1;
			}
		}

		.desc {
			padding-left: 2px;
		}
	}

	.price {
		display: block;
		margin-bottom: 40px;
		font-size: 40px;
		font-family: $g_600;
		color: $accent_color;
		sub {
			position: relative;
			top: 0;
			margin-left: 4px;
			font-size: 16px;
		}
	}
	.product-btns {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-bottom: 48px;
		padding-left: 3px;
	}
	.btn-primary {
		margin-right: 17px;
	}

	.favourite-btn {
		margin-left: 4px;
		padding-left: 27px;
		font-size: 16px;
		font-family: $g_600;
		
		background: url(../img/favourite-icon.png)no-repeat 0 50%;
		span{
			border-bottom: 1px solid $main_color;
		}
	}

	.product-slider {
		max-width: 370px;
		margin: auto;
	}

	.product-slider-nav {
		max-width: 310px;
		margin: 47px auto auto;
		.item{
			max-width: 86px;
			max-height: 86px;
			min-height: 86px;
			height: 100%;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
			overflow: hidden;
			margin: 10px auto;
			background-color: $white;
			box-shadow: 0 0 15px #e2e2e2;
			cursor: pointer;
		}
	}
}