.week-stuff{
	max-width: 1436px;
	width: 100%;
	margin: 0 auto 85px;
	background-color: #e6e6e6;
	.title-section{
		padding-top: 42px;
		padding-bottom: 43px;
	}

	.title{
		margin-bottom: 26px;
		font-size: 47.9px;
		font-family: $bebas_b;
		letter-spacing: .1px;
	}

	.desc{
		display: block;
		margin-bottom: 0;
		font-size: 29.94px;
		font-family: $g_400;
		letter-spacing: .1px;
	}
	.btn{
		padding: 19px 42px;
		font-size: 15.97px;
	}
	.pic{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
}